html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #90e0ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}


li {
    list-style-type: none;
    text-transform: capitalize;
}

input:checked + label {
    text-decoration:line-through;
    color: #595959;
}